{% extends 'base.html' %}

{% block title %}About Us{% endblock title %}

{% block body %}
<style>
    h1 {text-align: center;}
    img{
  width: 450px;
  height: 600px;
}


body {
    font-size: 1rem;
    line-height: 1.55;
    font-family: 'Poppins', sans-serif;
    background: white;
    color: black;
}

/*Main Styles*/

.uc__wrapper {
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.uc__details {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    padding: 0 4rem;
    align-items: flex-start;
    justify-content: center;
}

.uc__art {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.uc__art img {
    width: 90%;
}

.title {
    display: inline-block;
    font-size: 40px;
    position: relative;
    margin-bottom: 1rem;
}

.title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: #fff;
    width: 140px;
}

.intro {
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

.uc__description {
    margin-bottom: 2rem;
    line-height: 1.77;
    color: black;
}

.uc__subscribe {
    background-color: grey;
    padding: 1.5rem;
    width: 85%;
    border-radius: 3px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, .25);
}

.uc__subscribe h3 {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 18px;
    color:white;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

.uc__form {
    position: relative;
}

.uc__form input {
    font-family: inherit;
    outline: none;
    font-size: 90%;
    padding: 10px 1rem;
    border: none;
    display: block;
    border-radius: 2px;
}

.uc__form .email {
    width: 100%;
    background-color: #ecf0f1;
}

.uc__form .submit {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #7a3a95;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color .22s ease;
}

</style>
<body>
    <div class="uc__wrapper">
        <div class="uc__details">
            <h1 class="title">We are Extremely Sorry !!
                <br>
                Coming Soon!</h1>
            <h3 class="intro">
                We are working hard to give you a better experience.
            </h3>
            <p class="uc__description">
                Thank You for Visiting Us. Our team is working hard on it & we may start delivering our products very soon. We promise, it will be worth the wait!.
            </p>
            <div class="uc__subscribe">
                <h3>Get Notified When We Go Live</h3>
                <div class="uc__form">
                    <form action="/working">
                        <input type="email" class="email" placeholder="Email Address..">
                        <input type="submit" class="submit" value="Get Notified">
                    </form>
                </div>
            </div>
        </div>
        <div class="uc__art">
            <img src="/static/working.jpg" alt="">
        </div>
    </div>
</body>
</html>
{% endblock body %}